@page "/UpdateLesson/{LessonId}"

@attribute [Authorize(Roles = "Admin, Creator")]

<PageTitle>تـحـديـث حـصـة</PageTitle>

<TopMenu></TopMenu>
@if (ErrorMessages != "")
{
    <ErrorMessageComponent></ErrorMessageComponent>
}
else {
<div class="lesson">
    <div class="my-container">
        <div class="border-line">
            <h3>تـحـديـث حـصـة</h3>

            <EditForm Model="Lesson" OnValidSubmit="UpdateLesson">
                <DataAnnotationsValidator />
                <ValidationSummary />

                @if (!string.IsNullOrEmpty(ErrorMessages))
                {
                    <div class="alert alert-danger">
                        <h3>@ErrorMessages</h3>
                    </div>
                }

                <div class="lesson-title">
                    <label for="LessonTitle" class="label-title">الـعـنـوان (عـنـوان الـدرس) : </label>
                    <InputText class="input-title" id="LessonTitle" @bind-Value="Lesson.Title"></InputText>
                    <ValidationMessage For="@(() => Lesson.Title)" />
                </div>

                <div class="lesson-module">
                    <label for="LessonModule" placeholder="اخـتـر الـنـمـوذج" class="label-module">الـنـمـوذج : </label>
                    <InputSelect id="LessonModule" @bind-Value="Lesson.ModuleId" class="input-grade">
                        <option value="0">-- اخـتـر الـنـمـوذج --</option>
                        @foreach (var option in Modules)
                        {
                            <option value="@option.Id">@option.Title</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => Lesson.ModuleId)" />
                </div>

                <div class="buttons">
                    <button type="submit" class="save btn">الـحـفـظ</button>

                    <a href="Lessons?moduleTitle=@ModuleTitle" class="course btn">العودة إلى صـفـحـة الـدروس</a>
                </div>
            </EditForm>
        </div>
    </div>
</div>
}